body {
    background-color: black;
    background-image: url('../Images/Steamboat/steamboat3.jpg');
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover 100%;
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
  }

/*Jumbotron*/
.jumbotron{
  color:white;
 background-color: black;
  }
/*End Jumbotron*/

/*Score Card CSS - Index*/
.carousel-item{
  width: 100%; /*width you want*/
  height: 500px; /*height you want*/
  overflow: hidden;
}
.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*End Score Card CSS - Index*/

/*Photos Page*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  height: 100vh;
}
.grid img {
  width: 300px;
  height: 300px;
}

/*End Photos Page*/